.navbar {

  width:
    100%;

  height:
    75px;

  background-color:
    /* #01293E; */
    #272343;

  display:
    flex;

  flex-direction:
    row;

}

.landing {
  display: flex;


}

.categories {
  width:
    80%;

}

.navbar .leftSide {

  flex:
    50%;

  height:
    100%;

  display:
    flex;

  align-items:
    center;

  padding-left:
    0px;



}



.navbar .leftSide img {

  width:
    100px;

}



.navbar .rightSide {

  flex:
    50%;

  height:
    100%;

  display:
    flex;

  align-items:
    center;

  justify-content:
    right;
}



.navbar a {

  color: #dbd4d6;

  font-family:
    'Quicksand', sans-serif;

  text-decoration:
    none;

  transition:
    color 0.3s ease;

  font-size:
    large;

  padding-left:
    20px;

  margin:
    20px;

}

.navbar a:hover {

  color: #c9184a;
  ;
  /* Color of the text when hovering */

  transform:
    scale(1.1);
  /* Scale the text by 10% when hovering */

}

.navbar .rightSide button {

  background-color:
    transparent;

  border:
    none;

  color:
    rgb(222,
      215, 215);

  cursor:
    pointer;

}



.navbar .rightSide svg {

  font-size:
    40px;

}



.navbar #open {

  padding-left:
    0px;

}

.navbar #open img {

  display:
    none;

}



.navbar #close img {

  display:
    inherit;

}



.navbar #open .hiddenLinks {

  display:
    inherit;

  margin-left:
    30px;

}



.navbar #close .hiddenLinks {

  display:
    none;

}



.navbar #open a {

  width:
    70px;

  margin:
    5px;

}

@media only screen and (max-width: 900px) {

  .navbar .rightSide a {

    width:
      70px;

  }

  .navbar .leftSide {

    padding-left:
      50px;

  }

}



@media only screen and (max-width: 600px) {

  .navbar .rightSide a {

    display:
      none;

  }



  .navbar .rightSide {

    justify-content:
      flex-end;

    padding-right:
      50px;

  }



  .navbar .rightSide button {

    display:
      inherit;

  }

}



@media only screen and (min-width: 600px) {

  .navbar .rightSide button {

    display:
      none;

  }



  .hiddenLinks {

    display:
      none;

  }

}

.dropbtn {
  background-color: #aeb9ae;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #d6d6d6;
}