.proSection{
    display:flex;
}
.imgBox{
    width:80%;
    padding:10px;
    /* border: 1px solid #555; */
   }
.Proimage{
    width: 100%
}
.proTitle h2{
    margin: 10px;

}
body{
    background-color:aliceblue;
}
.cart-section {
    width: 60%;
}
.cart-details {
    font-size: small;
}
.cart-section {
    display: flex;
    border: 3px double gray;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.cart-img img {
    width: 50%;
}

.cart-details {
    width: 50%;
}

.cart {
    color: white;
}

.cart span {
    color: orangered;
}

.cart span {
    font-size: x-large;
    margin-left: 5px;
    font-weight: 600;
}

.y-cart {
    text-align: center;
}

.empty {
    text-align: center;
}

.removeBtn {
    padding: 10px;
    width: 10rem;
    background-color: rgb(241, 79, 79);
    color: white;
}

.removeBtn:hover {
    background-color: red;
    cursor: pointer;
}
